.main-div-homepage {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: #3035c2;
}

.title {
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}

.homepage-data {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/*-----------------------------------------------------*/
/*GroupSection file*/
.group-section-main-div {
    width: 100%;
    height: auto;
    border: 2px solid lightgrey;
    background-color: #9bd2de;
    border-radius: 18px;
}

.group-section-line {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 10px auto;
    padding: 10px 10px;
    border-radius: 20px;
    border-bottom: 1px solid lightgray;
    justify-content: space-between;
    cursor: pointer;
}

.group-section-line:hover {
    background-color: rgba(53, 53, 53, 0.3);
}

.group-section-line-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.group-section-line img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.group-section-line p {
    font-size: 1.25em;
}

/*-----------------------------------------------------*/

.selected-team-div {
    display: flex;
    flex-direction: column;
    /*background-color: #47258a;*/
    background-color: #3c1094;
    border: none;
}

.team-group-stats {
    width: 75%;
    margin: 0 auto;
    height: 500px;
    display: flex;
    border: 7px solid black;
    border-radius: 30px;
    /*background-color: #6d6184;*/
    background-color: #858bf2;

}

.team-stats-left {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.team-stats-left img {
    width: 250px;
    height: 180px;
}

.team-stats-left p {
    font-size: 2.3em;
    font-weight: bold;
}

.groups-stats-text {
    align-self: flex-start;
    margin: -70px 0 0 30px;
}

.team-stats-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-stats-right div {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    /*background-color: #9c8fb5;*/
    background-color: #000080;
    border: 7px solid #18053d;
    padding: 0 40px;
    border-radius: 30px;
}

.team-stats-right span {
    font-weight: bold;
}

.back-button {
    font-size: 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 5px;
}

.back-button:hover {
    background-color: rgba(121, 87, 189, 0.5);
    border-top-left-radius: 20px;
}

.selected-matches-groups {
    padding-top: 20px;
    width: 75%;
    align-self: center;
    border: 7px solid black;
    margin-top: 100px;
}

.selected-matches-groups>.selected-match {
    border: 10px solid black;
    margin: 40px 0;
    padding: 40px;
    border: none;
    border-bottom: 3px solid black;
}

.group-matches-title {
    font-size: 2em;
    font-weight: bold;
}