.selected-match {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.selected-match>a {
    align-self: center;
    color: blue;
    text-decoration: underline;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    font-style: italic;
}

.selected-match-info {
    display: flex;
    justify-content: space-between;
}

.selected-match-info img {
    width: 200px;
    height: 200px;
}

.selected-team-view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.selected-team-view p {
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result p {
    font-size: 2.75em;
    align-self: center;
    color: gray;
}

.result span {
    font-weight: bold;
    color: black;
}